body {
    max-width: 700px;
}

h1 {
    color:red;
    text-align: center;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.result {
    text-align: center;
    border: solid 1px goldenrod;
    margin: 10px;
    padding: 10px;
    width: 400px;
}