<h1>Recipe Search By search</h1>
<form method="GET" action="/recipe/results">
    <input type="radio" id="African" name="search" value="African">
    <label for="African">African</label><br>
    <input type="radio" id="American" name="search" value="American">
    <label for="American">American</label><br>
    <input type="radio" id="British" name="search" value="British">
    <label for="British">British</label><br>
    <input type="radio" id="Cajun" name="search" value="Cajun">
    <label for="Cajun">Cajun</label><br>
    <input type="radio" id="Caribbean" name="search" value="Caribbean">
    <label for="Caribbean">Caribbean</label><br>
    <input type="radio" id="Chinese" name="search" value="Chinese">
    <label for="Chinese">Chinese</label><br>
    <input type="radio" id="Eastern European" name="search" value="Eastern+European">
    <label for="Eastern European">Eastern European</label><br>
    <input type="radio" id="European" name="search" value="European">
    <label for="European">European</label><br>
    <input type="radio" id="French" name="search" value="French">
    <label for="French">French</label><br>
    <input type="radio" id="German" name="search" value="German">
    <label for="German">German</label><br>
    <input type="radio" id="Greek" name="search" value="Greek">
    <label for="Greek">Greek</label><br>
    <input type="radio" id="Indian" name="search" value="Indian">
    <label for="Indian">Indian</label><br>
    <input type="radio" id="Irish" name="search" value="Irish">
    <label for="Irish">Irish</label><br>
    <input type="radio" id="Italian" name="search" value="Italian">
    <label for="Italian">Italian</label><br>
    <input type="radio" id="Japanese" name="search" value="Japanese">
    <label for="Japanese">Japanese</label><br>
    <input type="radio" id="Jewish" name="search" value="Jewish">
    <label for="Jewish">Jewish</label><br>
    <input type="radio" id="Korean" name="search" value="Korean">
    <label for="Korean">Korean</label><br>
    <input type="radio" id="Latin American" name="search" value="Latin+American">
    <label for="Latin American">Latin American</label><br>
    <input type="radio" id="Mediterranean" name="search" value="Mediterranean">
    <label for="Mediterranean">Mediterranean</label><br>
    <input type="radio" id="Mexican" name="search" value="Mexican">
    <label for="Mexican">Mexican</label><br>
    <input type="radio" id="Middle Eastern" name="search" value="Middle+Eastern">
    <label for="Middle Eastern">Middle Eastern</label><br>
    <input type="radio" id="Nordic" name="search" value="Nordic">
    <label for="Nordic">Nordic</label><br>
    <input type="radio" id="Southern" name="search" value="Southern">
    <label for="Southern">Southern</label><br>
    <input type="radio" id="Spanish" name="search" value="Spanish">
    <label for="Spanish">Spanish</label><br>
    <input type="radio" id="Thai" name="search" value="Thai">
    <label for="Thai">Thai</label><br>
    <input type="radio" id="Vietnamese" name="search" value="Vietnamese">
    <label for="Vietnamese">Vietnamese</label><br>
    <input type="submit" />
</form>