<h1>Recipe Search</h1>
<form method="GET" action="/recipe/results">
    <label for="search"></label>
    <input id="search" type="text" name="search" placeholder="Search For A Recipe" />
    <input type="submit" />
</form>